# Ignoring certain R files
.Rproj.user
.Rhistory
.Ruserdata

# Ignoring videos
*.wmv
*.mp4
*.webm

# Ignoring slide decks and notes unless people tell us they want that
*.pptx
*.docx

# Ignoring database files b/c they're so large and you can generate them from the workspace anyway
*.db

*.Rd

